.cardWhole {
  border-radius: 10px;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  width: 1fr;
  .content__card {
    margin: 10px;
  }

  .text {
    margin: 10px;
    color: complement($color: #007BFF)
  }
  img {
   height: 120px;
   width: auto;
  }
  
}
.card__body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #17a2b8;
}
